{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
{% endblock %}

{% block title %}Login{% endblock %}

{% block page_content %}
<div class="form_container login">
    <div class="page-header">
        <h3>Login to your account</h3>   
    </div>
    <form action="" id="loginform" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-group col-md-10">
            {% if form.employeeID.errors %}
                {{ form.employeeID(class="input form-control form-control-lg is-invalid", placeholder="Employee ID") }}
                <div class="invalid-feedback">
                    {% for error in form.employeeID.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.employeeID(class="input form-control form-control-lg", placeholder="Employee ID") }}
            {% endif %}
        </div>
        <div class="form-group col-md-10">
            {% if form.password.errors %}
                {{ form.password(class="input form-control form-control-lg is-invalid", placeholder="Password") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password(class="input form-control form-control-lg", placeholder="Password") }}
            {% endif %}
        </div>
        <div class="form-check">
            {{ form.rememberMe(class="form-check-input") }}
            {{ form.rememberMe.label(class="form-check-label") }}
        </div>
        <a href="employeedashboard.html">{{ form.submit(class="button")}}</a>
        <p>No account? <a href="{{url_for('auth.register')}}" class="links">Create an account</a></p>
    </form>
</div>
<footer>
    <p>&copy;Group22 CSC415 project submission</p>
</footer>
{% endblock %}