<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Assets</title>
    <link rel="stylesheet" href="../dashboard.css">

</head>
<body>
    <!-- sidebar -->
    <div class="sidebar">
        <div class="logo"></div>
        <ul class="menu">
            <li>
                <a href="" >
                    <i class="fa-solid fa-user"></i><span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-solid fa-bars-progress"></i><span>Requests</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-solid fa-list-check"></i><span>Assigned Assets</span>
                </a>
            </li>
            <li class="logout">
                <a href="">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i><span>Log Out</span>
                </a>
            </li>
        </ul>
    </div>

    <section >


    </section>
</body>
</html>