<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HR Dashboard</title>
    <link rel="stylesheet" href="\app\static\css\dashboard.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/afaa755ae7.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- sidebar -->
    <div class="sidebar" id="sidebar">
        <div class="logo"></div>
        <ul class="menu">
            <li>
                <a href="\app\templates\dashboard\hr\hrdashboard.html" >
                    <i class="fa-solid fa-user"></i><span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="\app\templates\dashboard\hr\hrAssignedAssets.html">
                    <i class="fa-solid fa-list-check"></i><span>Assigned Assets</span>
                </a>
            </li>
            <li>
                <a href="\app\templates\dashboard\hr\hrEmployeeMgt.html">
                    <i class="fa-solid fa-users-line"></i><span>Employees</span>
                </a>
            </li>
            <li class="logout">
                <a href="">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i><span>Log Out</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- main content -->
    <div class="mainContent">
        <div class="headerWrapper">
            <div class="headerTitle">
                <h2> HR Dashboard</h2>

                <!-- darkmode and mobile view sidebar toggle functionalitiy isn't working yet -->
                <div>
                <i class="fa-solid fa-bars" id="fa-bars"></i>
                <i class="fa-solid fa-x" id="fa-x"></i>
                <button id="dark-mode-toggle"><i class="fas fa-moon"></i></button>
                </div>
            </div>
        </div>
        <!-- requests -->
        <div class="cardContainer">
            <div class="requestTable">
                <table>
                    <thead>
                        <tr>
                            <th class="hrNameRow">Asset Name</th>
                            <th class="employeeNameRow">Employee Name</th>
                            <th class="hrQuantityRow">Quantity</th>
                            <th class="hrDateRow">Request Date</th>
                            <!-- if hr verifies, it goes to manager -->
                            <th class="statusRow">Verify</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- a data row example  -->
                        <!-- all tables need to be conected to the database to fill up with it's data  -->
                        <tr>
                            <td>Laptop</td>
                            <td>Divine</td>
                            <td>4</td>
                            <td>29-Mar-2025</td>
                            <!-- button to forward to manager -->
                            <td><button class="forwardbtn">Forward</button></td>  
                        </tr>
                        <tr class="nodata">
                            <td colspan="5">No data available</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>



    </div>
</body>
</html>